[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gridBezier"]
	path = gridBezier
	url = https://github.com/pmur002/gridbezier
	shallow = true
[submodule "gridGeometry"]
	path = gridGeometry
	url = https://github.com/pmur002/gridgeometry
	shallow = true
[submodule "gridGraphics"]
	path = gridGraphics
	url = https://github.com/pmur002/gridgraphics
	shallow = true
[submodule "metapost"]
	path = metapost
	url = https://github.com/pmur002/metapost
	shallow = true
[submodule "rasterize"]
	path = rasterize
	url = https://github.com/pmur002/rasterize
	shallow = true
[submodule "vwline"]
	path = vwline
	url = https://github.com/pmur002/vwline
	shallow = true
	subdir = pkg
